.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: wheat;
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #333333;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 40px;
    color: darkred;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: #d27fa4;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}