.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    object-fit: cover;
    background-color: rgb(16, 0, 0);
    position: sticky;
    top: 50px;
    grid-area: sidebar;
}

.sidebarWrapper {
    padding: 20px;
    color: #a5aaad;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 30px;
    color: #3ea175;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: #39447a;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}

.sidebar__menu > h2 {
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar__link {
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 30px;
}

.active_menu_link {
    background: rgba(62, 161, 117, 0.3);
    color: #3ea175;
}

.active_menu_link a {
    color: #3ea175 !important;
}

.sidebar__link > a {
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
}

.sidebar__link > i {
    margin-right: 10px;
    font-size: 30px;
}